@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-180 {
    transform: rotate(180deg);
}

::selection {
    background: #FEF9D9; /* Ganti dengan warna latar belakang yang diinginkan */
    color: #263371; /* Ganti dengan warna teks yang diinginkan */
}
